@font-face {
  font-family: 'OpenDyslexic';
  src: url('../assets/fonts/OpenDyslexic-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* bold font */
@font-face {
  font-family: 'OpenDyslexic';
  src: url('../assets/fonts/OpenDyslexic-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

.login-container {
  width: 100%;
  z-index: 0;
  height: 100vh;
  background-color: #234029; 
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-window {
  position: relative;
  z-index: 20;              /* above the green + other layers */

  background-color: #F2E8CF; /* change to whatever color you want */
  width: 712px;
  height: 456px;
  max-width: 90%;
  padding: 20px 40px 40px 40px;

  border: 3px solid #000;
  border-radius: 16px;

  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-title {
  padding-left: 50px;
  font-family: 'OpenDyslexic', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #000;
  margin: 0;

  width: 100%;
  text-align: left;
}

.input-group {
  width: 493px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-label {
  font-family: 'OpenDyslexic', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #386641;
}

.text-input {
  width: 493px;
  height: 66px;
  padding: 0px 18px;

  font-family: 'OpenDyslexic', sans-serif;
  font-size: 22px;
  color: #000;

  background-color: #e9e5ef;

  border: 2px solid #000;
  border-radius: 0px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.25);

  outline: none;
}

.login-button {
  margin-top: 25px;
}

